.facebookIcon{
  background-image: url("/public/images/icons8-facebook.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

.twitterIcon{
  background-image: url("/public/images/icons8-twitter.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

.googleIcon{
  background-image: url("/public/images/icons8-google.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

.iconGroup{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.alternativeLogin {
  text-align: center;
  padding-top: 2rem;
  margin-top: 1.5rem;
}
